@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    @apply bg-gradient-black-gold;
    overflow-x: hidden;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;

}

@layer base {
    @font-face {
        font-family: "Great Vibes";
        src: url('/fonts/GreatVibes-Regular.ttf');
    }

    @font-face {
        font-family: "Forum";
        src: url('/fonts/Forum-Regular.ttf');
    }

}